{% extends 'content.html' %}

{% set exclude_claims = ['iat', 'exp', 'nbf', 'uti', 'aio'] %}

{% block header %}
    ID Token Details
{% endblock %}

{% block text %}
    {% if session.msal_authenticated %}
        {% for claim, value in session.msal_id_token_claims.items() %}
            {% if claim not in exclude_claims %}
                <strong>{{ claim }}:</strong> {{ value }}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
    <br>
    Click here to see your <a class="btn btn-success p-1" href="{{ url_for('auth.sign_in_status') }}">Sign-in Status</a>
    or <a class="btn btn-success p-1" href="{{ url_for('auth.edit_profile') }}">Edit Profile</a>
{% endblock %}

    